{% extends "account/base_manage_password.html" %}
{% load allauth i18n bootstrap4 %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title text-center">{% trans "Change Password" %}</h1>
                        {% url 'account_change_password' as action_url %}
                        <form method="post" action="{{ action_url }}" class="manage-password-form">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="mb-3">
                                    {{ field.label_tag }}
                                    {{ field }}
                                    {% if field.help_text %}
                                        <small class="text-muted">{{ field.help_text }}</small>
                                    {% endif %}
                                    {% for error in field.errors %}
                                        <div class="invalid-feedback d-block">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            <div class="mb-3">
                                {% element button type="submit" class="btn btn-primary btn-block" %}
                                    {% trans "Change Password" %}
                                {% endelement %}
                            </div>
                            <div class="text-center">
                                <a href="{% url 'account_reset_password' %}" class="text-muted">{% trans "Forgot Password?" %}</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
