<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Documento</title>
</head>
<body>

  <h1>Detalles del Documento</h1>

  <p><strong>Nombre:</strong> {{ documento.nombre }}</p>
  <p><strong>Descripción:</strong> {{ documento.descripcion }}</p>
  <!-- Agrega más detalles según la estructura de tu modelo DocumentoPDF -->

  <a href="{% url 'lista_documentos' %}">Volver a la lista de documentos</a>

</body>
</html>
