<!-- documento_aprobado.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento Aprobado</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body class="container mt-4">
    <h1 class="my-4">Documento Aprobado</h1>
    
    {% if ya_aprobado %}
        <p class="lead">El documento ya ha sido aprobado anteriormente.</p>
    {% else %}
        <p class="lead">El documento ha sido aprobado correctamente.</p>
    {% endif %}

    <a href="{% url 'detalle_documento' documento.id %}" class="btn btn-primary">Ver Detalles del Documento</a>
</body>
</html>
